{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<div class="py-5">
			<div class="container">
				<form method="post" enctype="multipart/form-data">
					<div class="card mt-2" style="max-width: 1wm;">
						<div class="row g-0 shadow p-3 bg-body-tertiary rounded">
							<div class="col-md-8">
								<div class="card-body">
									<h6 class="card-title">Title:</h6>
									<input type="text" name="title_add" value="{{article.title}}" class="form-control" placeholder="Title leave a here...">
									<h6 class="card-title mt-3">Text:</h6>
									<textarea class="form-control" placeholder="Blog description leave a here..." name="text_des" rows="11" cols="30" value="{{article.text}}">{{article.text}}</textarea>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card-body">
									<h6 class="card-title">Photo change:</h6>
									<div class="position-relative">
										<button type="submit" class="btn btn-sm position-absolute top-0 start-100 translate-middle" name="delete_photo" value="1">
											<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle bg-danger rounded-5" viewbox="0 0 16 16">
												<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
												<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
											</svg>
										</button>
										<img class="img-fluid rounded" src="{{ article.image }}" alt="image"></div>
									<input type="file" class="form-control mt-3" name="photo">
								</div>
								<div class="list-table d-flex d-grid gap-2 d-sm-flex justify-content-sm-end me-3">
									<button type="submit" class="btn btn-primary d-flex align-content-end px-4 gap-3" name="save">Update</button>
									<a href="{{ path('home') }}" type="button" class="btn btn-secondary">Back</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>{% endblock %}
