{% extends 'base.html.twig' %}

{% block main %}

	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-bold">Create new content</h1>
			</div>
		</div>
	</section>
	<main>
		<div class="py-5 bg-light">
			<div class="container">
				{{form_start(form)}}
				<div class="card mt-2" style="max-width: 1wm;">
					<div class="row g-0 shadow p-3 bg-body-tertiary rounded">
						<div class="col-md-12 ">
							<div class="card-body d-flex">
								{{ form_widget(form.title)}}
							</div>
							<div class="col-md-12">
								<div class="card-body">
									{{ form_widget(form.text)}}
								</div>
							</div>
							<div class="col-md-12">
								<div class="card-body">
									{{ form_widget(form.image)}}
									<small>
										<p>Choose image to upload (.jpg, .jpeg, .png)</p>
									</small>
								</div>
							</div>

							<div class="list-table d-flex d-grid gap-2 d-sm-flex justify-content-sm-end me-3">
								{{ form_widget(form)}}
								<a href="{{ path('home') }}" type="button" class="btn btn-secondary px-4">Back</a>
								<button type="submit" class="btn btn-success d-flex align-content-end px-4 gap-3" name="save">Create</button>
							</div>
						</div>
					</div>
				</div>
				{{form_end(form)}}
			</div>
		</div>
	</main>
{% endblock %}
