{% extends 'base.html.twig' %}

{% block main %}
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-bold">Edit content</h1>
			</div>
		</div>
	</section>
	<main>
		<div class="py-5 bg-light">
			<div class="container">
				{{form_start(form)}}
				<div class="card mt-2" style="max-width: 1wm;">
					<div class="row g-0 shadow p-3 bg-body-tertiary rounded">
						<div class="col-md-8">
							<div class="card-body">
								{{ form_widget(form.title)}}
								<div class="card-title mt-3"></div>
								{{ form_widget(form.text)}}
							</div>
						</div>
						<div class="col-md-4">
							<div class="card-body">
								<img class="img-fluid rounded" src="{{ article.image }}" alt="image">
								<div class="card-title mt-3"></div>
								{{ form_widget(form.image)}}
								<small>
									<p>Choose image to upload (.jpg, .jpeg, .png)</p>
								</small>
							</div>
							{{ form_widget(form)}}
							<div class="list-table d-flex d-grid gap-2 d-sm-flex justify-content-sm-end me-3">
								<a href="{{ path('home') }}" type="button" class="btn btn-secondary px-4">Back</a>
								<button type="submit" class="btn btn-primary d-flex align-content-end px-4 gap-3" name="save">Update</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{form_end(form)}}
	</main>
{% endblock %}
