{% extends 'base.html.twig' %}

{% block main %}
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-bold">{{ article.title }}</h1>
			</div>
		</div>
	</section>

	<main>
		<div class="bg-light">
			<div class="container">
				<div class="py-5 text-center">
					<p class="text-muted">{{ article.mins }}
						reading times
					</p>
				</div>
				<img class="img-fluid" src="{{ article.image }}" alt="image">
				<div class="lead mb-4 py-5 text-justify">{{ article.text | raw }}</div>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<a href="{{ path('home') }}" type="button" class="btn btn-secondary btn-lg px-4 gap-3">Back</a>
				</div>
			</div>
		</div>
	</div>
</main>{% endblock %}
